.card {
    width: 20%;
    display: inline-block;
    height: 300px;
    border: solid 1px blue;
    background-color: pink;
    font-size: 4em;
    text-align: center;
    color: black;
    margin : 5px;
    border-radius: 25px;
    position: relative;

}
.cache{
    width: 100%;
    display: inline-block;
    height: 100%;
    background-color: black;
    position: absolute;
    border-radius: 25px;
    top: 0;
    left: 0;
}
